.section-bg{
    background-color: rgb(121, 188, 252);
}
.category-btn{
    background-color: transparent;
    padding: 10px 20px;
    border: 1px solid white;
    outline: none;
}
.category-btn:hover{
    background-color: #fff;
    border: none;
    color: rgb(83, 149, 248);
    font-weight: bold;
}
.middle-col{
    background-color: rgb(82, 168, 248);

}