.emergency-col{
    background-image: url(../../../images/xemergency-1.png.pagespeed.ic.dzkR_tLkpJ.png), linear-gradient(rgb(6, 73, 136), rgb(24, 104, 179));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    background-blend-mode: overlay;
}
.appointment-col{
    background-image: url(../../../images/xemergency-2.png.pagespeed.ic.Db7myp6yIE.png), linear-gradient(rgb(30, 120, 204), rgb(24, 104, 179));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    background-blend-mode: overlay;
}
.emergency-content{
    height: 40vh;
}
.emergency-btn{
 border-radius: 30px;
}